<% layout('layout/boilerplate') %>
    <section class="border p-2 mb-3" id="labels">
        <div>
            <h5 class="d-inline me-3 ">Syntactic labels:</h5>
            <div class="d-inline" id="syntactic">
                <ul class="list-inline d-inline">
                    <% for (let i=0; i<labels[0].phraseLabels.length; i++) {%>
                        <% if (i===0) {%>
                            <li class="list-inline-item activeLabel">
                                <%= labels[0].phraseLabels[i].name%>
                            </li>
                            <% } else {%>
                                <li class="list-inline-item">
                                    <%= labels[0].phraseLabels[i].name%>
                                </li>
                                <%} }%>

                </ul>
            </div>
        </div>
    </section>
    <section id="mainAnnotationArea">
        <h4>Annotation Area</h4>
        <div class="row">
            <div class="col col-md-1">
                <h6>Sentence Number</h6>
            </div>
            <div class="col col-md-7">
                <h6>Sentences To Annotate</h6>
            </div>
            <div class="col col-md-2">
                <h6>Sentences Semantic Tags</h6>
            </div>
            <div class="col col-md-1">
                <h6>To Extract Words?</h6>
            </div>
            <div class="col col-md-1">
                <h6>Use Previous Sentence</h6>
            </div>
        </div>
        <% for (let sent of sentences) {%>
            <div class="row mb-3" id="<%=sent._id %>">
                <div class="col col-md-1">
                    <span>
                        <%= sent.sentNumber %>
                    </span>
                </div>
                <div class="col col-md-7">
                    <p class="sentPlace">
                        <% for (let word of sent.sentWords) {%>
                            <% if( word[1]==='none' ) {%>
                                <span class="word">
                                    <%= word[0] %>
                                </span>
                                <% } else {%>
                                    <span wlbl="word[1]" class="taggedWord">
                                        <span>
                                            <%= word[0] %>
                                        </span>
                                        <span>
                                            <%= word[1] %>
                                        </span>
                                    </span>
                                    <% }}%>
                    </p>
                    <div>
                        <button class="btn btn-primary btn-sm updateSentence">Update
                            Sentence</button>
                    </div>
                </div>
                <div class="col col-md-2">
                    <div id="semanticLabel">
                        <span>
                            <%= sent.semanticLabel %>
                        </span>
                    </div>
                </div>
                <div class=" col col-md-1">
                    <div id="extractable">
                        <span>
                            <%= sent.isExtractable %>
                        </span>
                    </div>
                </div>
                <div class="col col-md-1">
                    <div id="isSelfContained">
                        <span>
                            <%= sent. isSelfContanined %>
                        </span>
                    </div>
                </div>
            </div>
            <% }%>
    </section>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/javascripts/annotation.js"></script>