<% layout('layout/boilerplate') %>
    <section class="border p-2 mb-3" id="labels">
        <div>
            <h5 class="d-inline me-3 ">Syntactic labels:</h5>
            <div class="d-inline" id="syntactic">
                <ul class="list-inline d-inline">
                    <% for (let i=0; i<labels[0].phraseLabels.length; i++) {%>
                        <% if (i===0) {%>
                            <li class="list-inline-item activeLabel">
                                <%= labels[0].phraseLabels[i].name%>
                            </li>
                            <% } else {%>
                                <li class="list-inline-item">
                                    <%= labels[0].phraseLabels[i].name%>
                                </li>
                                <%} }%>

                </ul>
            </div>
        </div>
    </section>
    <section id="mainAnnotationArea">
        <h4>Annotation Area</h4>
        <div class="row">
            <div class="col col-md-1">
                <h6>Sentence Number</h6>
            </div>
            <div class="col col-md-7">
                <h6>Sentence Annotation</h6>
            </div>
            <div class="col col-md-2">
                <h6> Semantic Tags</h6>
            </div>
            <div class="col col-md-1">
                <h6>Extract Words?</h6>
            </div>
            <div class="col col-md-1">
                <h6>Self contained?</h6>
            </div>
        </div>
        <% for (let sent of sentences.results) {%>
            <div class="row mb-3" id="<%=sent._id %>">
                <div class="col col-md-1">
                    <span>
                        1
                    </span>
                </div>
                <div class="col col-md-7">
                    <p class="sentPlace">
                        <% for (let i=0; i< sent.sentWords.length; i++) {%>
                            <% if( sent.sentWords[i][1]==='none' ) {%>
                                <span data-widx="<%=i %>" class="word">
                                    <%= sent.sentWords[i][0] %>
                                </span>
                                <% } else {%>
                                    <span class="taggedSpan">
                                        <span class="taggedWord word" data-widx="<%=i %>">
                                            <%=sent.sentWords[i][0] %>
                                        </span>
                                        <span>
                                            <%= sent.sentWords[i][1] %>
                                        </span>
                                    </span>
                                    <% }}%>
                    </p>
                    <div>
                        <button class="btn btn-primary btn-sm updateSentence">Update Annotation</button>
                        <form action="sents/duplicate/<%=sent._id %>" class="d-inline">
                            <button class="btn btn-primary btn-sm ">Duplicate Sentence</button>
                        </form>
                        <form action="sents/<%=sent._id %>?_method=DELETE" method="POST" class="d-inline">
                            <button class="btn btn-primary btn-sm ">Delete Sentence</button>
                        </form>
                        <a class="nav-link active" href="sents/<%=sent._id %>">Sentence Details</a>
                    </div>
                </div>
                <div class="col col-md-2">
                    <div id="semanticLabel">
                        <div class="semanticTagSelection">
                            <select name="semanticTags" id="semanticTagSelect">
                                <% for (let i=0; i<labels[0].semanticLabels.length; i++) {%>
                                    <% if (labels[0].semanticLabels[i].name===sent.semanticLabel ) {%>
                                        <option value=<%=labels[0].semanticLabels[i].name %> selected>
                                            <%=labels[0].semanticLabels[i].name%>
                                        </option>
                                        <% } else { %>
                                            <option value=<%=labels[0].semanticLabels[i].name %>>
                                                <%=labels[0].semanticLabels[i].name%>
                                            </option>
                                            <% }}%>
                            </select>
                        </div>
                        <p class="semTagPlaceHolder">
                            <span>
                                <%= sent.semanticLabel %>
                            </span>
                        </p>
                    </div>
                </div>
                <div class=" col col-md-1">
                    <div id="extractable">
                        <div class="extractionSelection">
                            <select name="wordExtrationBool" id="wordExtrationBool">
                                <% if (sent.isExtractable) {%>
                                    <option value="true" selected>Yes</option>
                                    <option value="false">No</option>
                                    <% } else {%>
                                        <option value="true">Yes</option>
                                        <option value="false" selected>No</option>
                                        <% } %>
                            </select>
                        </div>
                        <p class="extractablePlaceHolder">
                            <span>
                                <% if (sent.isExtractable) {%>
                                    Yes
                                    <% } else {%>
                                        No
                                        <% } %>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col col-md-1">
                    <div class="isSelfContained">
                        <div class="isSelfContainedSelection">
                            <select name="isSelfContainedSelect" id="isSelfContainedSelect">
                                <% if (sent.isSelfContanined) {%>
                                    <option value="true" selected>Yes</option>
                                    <option value="false">No</option>
                                    <% } else {%>
                                        <option value="true">Yes</option>
                                        <option value="false" selected>No</option>
                                        <% } %>
                            </select>
                        </div>
                        <p class="containedPlaceHolder">
                            <span>
                                <% if ( sent. isSelfContanined) {%>
                                    Yes
                                    <% } else {%>
                                        No
                                        <% } %>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <% }%>
    </section>
    <section>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <% if (page> 1) { %>
                    <li class="page-item"><a class="page-link" href="/sents?page=<%=page-1 %>">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="/sents?page=<%=page %>">
                            <%=page%>
                        </a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/sents?page=<%=page %>">1</a></li>

                        <% } %>
                            <li class="page-item"><a class="page-link" href="/sents?page=<%=page+1 %>">
                                    <%=page+1%>
                                </a></li>
                            <li class="page-item"><a class="page-link" href="/sents?page=<%=page+2 %>">
                                    <%=page+2%>
                                </a></li>
                            <% if (sentences.next) { %>
                                <li class="page-item"><a class="page-link" href="/sents?page=<%=page+3 %>">Next</a></li>
                                <% } %>

            </ul>
        </nav>
    </section>
    <script src=" https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/javascripts/annotation.js"></script>